{% extends 'WshCmsBundle::standard_layout.html.twig' %}
    {% block title %}
        {{ "profile.profile"|trans() }}
    {% endblock %}
{% block body_content %}
    <div class="box span11">
        <div class="box-header well" data-original-title="{{ app.user.username }} profile">
            <h2><i class="fa-icon-group"></i><span class="break"></span>{{ "profile.profile"|trans() }}</h2>
        </div>
        <div class="box-content">
            <div class="row-fluid">
                <div class="span1">
                    {% if app.user.avatar %}
                        <div class="avatar">
                            <img src="{{ app.user.avatar }}">
                        </div>
                        <a href="{{ path("profile_delete_avatar") }}">{{ "profile.delete.avatar" }}</a>
                    {% else %}
                        <div class="avatar">
                            <img src="http://placehold.it/50x50">
                        </div>
                    {% endif %}
                </div>
                <div class="span10">
                    <h1>{{ app.user.username }} {% if app.user.firstName or app.user.lastName %}<small>({{ app.user.firstname }} {{ app.user.lastname }})</small>{% endif %}</h1>
                </div>
            </div>
            <div class="row-fluid">
                <dl>
                    <dt>E-mail:</dt>
                    <dd>{{ app.user.email }}</dd>
                    <dt>{{ "profile.last_login_time"|trans() }}:</dt>
                    <dd>{{ app.user.lastLogin|date("d-m-Y H:i:s") }}</dd>
                    <dt>{{ "profile.roles"|trans() }}:</dt>
                    <dd>
                        {% if app.user.roles|length > 0 %}
                            {{ app.user.roles|join(', ')|trans() }}
                        {% else %}
                            {{ "no_roles"|trans() }}
                        {% endif %}
                    </dd>
                </dl>
                <ul>
                    <li><a href="{{ path('sonata_user_profile_edit') }}">{{ "profile.link.edit.profile" | trans() }}</a></li>
                    <li><a href="{{ path('fos_user_change_password') }}">{{ "profile.link.edit.authentication" | trans()}}</a></li>
                </ul>
            </div>
        </div>
    </div>
{%  endblock %}