{% extends 'WshCmsBundle::standard_layout.html.twig' %}
    {% block title %}
        {{ "profile.profile"|trans() }}
    {% endblock %}
{% block body_content %}
    <div class="box span11">
        <div class="box-header well" data-original-title="{{ app.user.username }} profile">
            <h2><i class="halflings-icon list"></i><span class="break"></span>{{ "profile.your_profile"|trans() }}</h2>
        </div>
        <div class="box-content">
            <h1>{{ app.user.username }}</h1>
            {% if app.user.avatar %}
                <img src="{{ app.user.avatar }}">
            {% else %}
                <img src="http://placehold.it/200x200"><br>
                <a href="{{ path("profile_delete_avatar") }}">{{ "profile.delete.avatar" }}</a>
            {% endif %}
            <dl>
                <dt>E-mail:</dt>
                <dd>{{ app.user.email }}</dd>
                <dt>{{ "profile.last_login_time"|trans() }}:</dt>
                <dd>{{ app.user.lastLogin|date("d-m-Y H:i:s") }}</dd>
                <dt>{{ "profile.roles"|trans() }}:</dt>
                <dd>
                    {% if app.user.roles|length > 0 %}
                        {{ app.user.roles|join(', ')|trans() }}
                    {% else %}
                        {{ "no_roles"|trans() }}
                    {% endif %}
                </dd>
            </dl>
            <ul>
                <li><a href="{{ path('sonata_user_profile_edit') }}">{{ "profile.link.edit.profile" | trans() }}</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">{{ "profile.link.edit.authentication" | trans()}}</a></li>
            </ul>
        </div>
    </div>
    {% debug app.user %}
{%  endblock %}